#even-deeper_holder
{
  z-index: 9999;
  position: fixed;
  background-color: white;
  padding: 10px;
  border: 1px solid #CCCCCC;
  font-family: sans-serif;
  max-height: 500px;
  overflow-y: auto;
  font-size: 10pt;
}

#even-deeper_holder h1
{
  font-size: 12pt;  
  margin-top: 0;
}

#even-deeper_holder h2
{

}

.even-deeper_source
{
  font-weight: bold;
}

.even-deeper_summary
{
  margin: 1em 0;
}

#even-deeper_close
{
}

#even-deeper_title_and_close_holder
{
  overflow: hidden;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 0.5em;
}

#even-deeper_title
{
  float: left;
}

#even-deeper_close
{
  float: right;
}