#evenDeeperSidebar #more-articles
{
  font-weight: bold;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.loading
{
  font-weight: bold;
}

tooltip img
{
  max-width: 200px;
  max-height: 200px;
}

tooltip
{
  white-space: normal;
}

p
{
  margin-bottom: 10px;
}